body {
  font-family: Arial, sans-serif;
  width: 250px;
  padding: 10px;
}

h2 {
  text-align:center;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: #4CAF50;
  color: rgb(37, 197, 98);
  border: none;
  cursor: pointer;
}
body{
    background-position: 0ch;
}
